* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Karla";
  background: #0b2434;
  padding: 20px;
}
.Tenzie {
  background: #f5f5f5;
  border-radius: 10px;
  height: 400px;
  max-width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 5% auto 0;
}
.Tenzie__title {
  font-weight: 700;
  font-size: 25.6px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #2b283a;
}
.Tenzie__text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 13.1072px;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: #4a4e74;
}
.Tenzie__layout {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}
.Tenzie__span {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3.81277px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Tenzie--num {
  font-weight: 700;
  font-size: 20.5889px;
  line-height: 24px;
  color: #2b283a;
  text-align: center;
}
.Tenzie__button {
  background: #5035ff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  display: inline-block;
  padding: 20px 40px;
  cursor: pointer;
}
.Tenzie__link,
.Tenzie__link:link,
.Tenzie__link:hover,
.Tenzie__link:active,
.Tenzie__link:visited {
  font-weight: 700;
  font-size: 16.384px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 360px) {
  .Tenzie__layout {
    gap: 5px;
  }
}
